.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: black;
  animation: fadeIn 1s;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 100vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 80%);
  z-index: 1;
}

.intro {
  font-family: "Franklin Gothic Book";
  z-index: 2;
  position: absolute;
  width: 500px;
  max-width: calc(100% - 32px);
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(75, 213, 238);
  font-size: 28px;
  animation: intro 5s ease-in-out 2s;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: logo 12s linear 7s;
  z-index: 2;
}

.crawlWrap {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  color: var(--faded-yellow);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 280%;
  width: 200%;
  left: -50%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear 17s;
}

.crawl>.title {
  font-size: 90%;
  text-align: center;
}

.crawl>.title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

.text {
  max-width: 1450px;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg) translateZ(0);
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
    opacity: 0
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .intro {
    font-size: 40px;
  }

  .crawlWrap {
    left: 0;
    width: 100%;
    font-size: 500%;
  }
}