:root {
  --dark-navy: #031b28;
  --navy: #031b28;
  --light-navy: #083248;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #fff;
  --white: #e6f1ff;
  --yellow: #FFE81F;
  --faded-yellow: #feda4a;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--navy);
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

button {
  border-style: none;
}

a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}